*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

/*FONTS: ARVO AND OPEN SANS*/

@import url(https://fonts.googleapis.com/css?family=Arvo:400,400italic,700,700italic);

/*MAIN ELEMENTS*/

body {
  font-family: 'Open Sans';
  background-color: #262626;
  color: white;
}

.container {
  width: 95%;
  margin: auto;
  margin-top: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.backgroundimg {
  height: 300px;
  background-image: url("../img/wva.jpg");
  background-size: cover;
  width: 100%;
  border-radius: 4px;
}

/*STYLING FOR MOBILE ONLY DIV CONTENT*/

.mobileOnly {
  text-align: center;
  margin-bottom: 30px;
}

.mobileOnly p {
  font-weight: lighter;
  text-transform: uppercase;
  margin: 0;
  padding: 0;
  font-size: 1.2em;
  letter-spacing: .1em;
}

.mobileOnly h2 {
  margin: 0;
  padding: 0;
  font-family: 'Arvo';
  font-size: 2.8em;
  font-weight: lighter;
}

.mobileOnly hr {
  width: 40%;
}

/*NAVBAR STYLING*/

.navbar a {
  text-decoration: none;
  color: #fff;
  font-weight: lighter;
  display: block;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 24px;
  text-align: center;
  padding: 7px;
  margin: 7px;
  border: 1px solid white;
  border-radius: 4px;
}

.navbar {
  margin-bottom: 35px;
}

.navbar a:hover {
  background-color: white;
  color: #3d3d5c;
}

/*COLUMNS STYLING*/

.col1 {
  display: none;
}

.col2 {
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.col2 h3 {
  font-style: italic;
  font-weight: lighter;
  font-family: 'Arvo';
  font-size: 1.5em;
}

.col2 p {
  font-weight: lighter;
  font-size: 1.25em;
  line-height: 1em;
  padding-right: 5px;
  padding-left: 5px;
  line-height: 1.7em;
}

.col2 a {
  color: #fff;
  font-weight: lighter;
  font-size: 1.25em;

}


/*MEDIA QUERIES*/


@media only screen and (min-width: 650px) {

/*MAIN ELEMENTS STYLING*/

  body {
    background-color: white;
  }

  .container {
    margin: 0 auto;
    width: 100%;
    border: 1px dotted white;
  }

  .mobileOnly {
    display: none;
  }

  .container2 {
    overflow: hidden;
    height: auto;
  }

  .backgroundimg {
    width: 100%;
    height: 450px;
    background-size: cover;
    position: relative;
    border: none;
  }

/*NAVBAR STYLING*/

  header {
    width: 225px;
    height: 200px;
    margin-left: 50px;
    margin-top: 50px;
    opacity: .05%;
    line-height: 1.15em;
    background-color: #e6e6e6;
    padding-bottom: 15px;
    position: absolute;
    z-index: 10;
    opacity: .5;
    color: black;
  }

  header h2 {
    padding-left: 15px;
    font-weight: lighter;
    font-style: italic;
    font-size: 20px;
    margin-bottom: 0;
    padding-bottom: 15px;
  }

  header a {
    font-size: 18px;
    padding-top: 13px;
    padding-left: 15px;
    padding-bottom: 7px;
    display: block;
  }

  .navbar a {
    color: black;
    text-transform: capitalize;;
    letter-spacing: .01em;
    font-size: 16px;
    text-align: left;
    padding-bottom: 5px;
    border: none;
  }

  .navbar a:hover {
    color: #3d3d5c;
    background-color: #e6e6e6;
  }

  /*STYLING FOR COL1 DIV*/

  .col1 {
    display: block;
    float: left;
    width: 44%;
    height: 300px;
    margin-top: 10px;
    text-align: center;
    background-color: #262626;
    border-radius: 4px;
  }

  .col1 h2 {
    margin: 0;
    font-family: 'Arvo';
    font-weight: lighter;
    font-size: 3.25em;
    text-align: center;
  }

  .col1 hr {
    width: 40%;
  }

  .col1 p {
    text-transform: uppercase;
    color: white;
    padding-top: 30px;
    font-size: 16px;
    margin-top: 35px;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
    letter-spacing: .15em;
  }

  /*STYLING FOR COL2 DIV*/

  .col2 {
    margin-top: 10px;
    float: right;
    width: 55%;
    text-align: center;
    background-color: #262626;
    height: 300px;
    border-radius: 4px;
  }

  .col2 h3 {
    margin-top: 25px;
  }

  .col2 p {
    margin-top: 0;
    padding-top: 0;
    background-color: #262626;
    font-size: .9em;
    line-height: 1.7em;
    padding-right: 15px;
    padding-left: 15px;
  }

  .col2 a {
    font-size: 1em;
  }
}

@media only screen and (min-width: 920px) {

  /*MAIN ELEMENTS STYLING*/

  .container {
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  .backgroundimg {
    float: left;
    width: 70%;
    height: 100vh;
  }

  .container2 {
    height: 100vh;
    width: 29%;
    float: right;
  }

  /*COL1 DIV STYLING*/

  .col1 {
    padding-top: 70px;
    float: right;
    width: 100%;
    height: 49%;
    margin-top: 0;
  }

  .col1 p {
    margin-top: 20px;
  }

/*COL2 DIV STYLING*/

  .col2 {
    float: right;
    width: 100%;
    height: 49%;
    margin-top: 4%;
  }
}
